<h1>Edit Game Entry</h1>

<form action="/games/<%= game['id'] %>" method="POST">
    <input type="hidden" name="_method" value="put">
    <p>
    <label for="">Name: </label>
    <input type="text" name="name" value="<%=game['name'] %>">
    </p>

    <p>
    <label for="">Year Released: </label>
    <input type="text" name="year_released" value="<%= game['year_released'] %>">
    </p>

    <p>
    <label for="">Image_url: </label>
    <input type="text" name="image_url" value="<%=game['image_url'] %>">
    </p>

    <p>
    <label for="">Genre: </label>
    <input type="text" name="genre" value="<%=game['genre'] %>">
    </p>

    <p>
    <label for="">Developer: </label>
    <input type="text" name="developer" value="<%=game['developer'] %>">
    </p>
    
    <p>
    <label for="">Platforms: </label>
    <input type="text" name="platforms" value="<%=game['platforms'] %>">
    </p>

    <p>
    <label for="">Description: </label>
    <input type="text" name="description" value="<%=game['description'] %>">
    </p>

    <button>Update Game Entry</button>

</form>