<h1><%= games['name'] %> Details</h1>


<div>
    <img src="<%= games['image_url'] %>" alt="">
    <h3>Year Released: <%= games['year_released'] %></h3>
    <h3>Genre: <%= games['genre'] %></h3>
    <h3>Developer: <%= games['developer'] %></h3>
    <h3>Platforms: <%= games['platforms'] %></h3>
    <h3>Description <%= games['description'] %></h3>
    
</div>
<a href="/users/:id/wishlist">Add to wishlist?</a>
<a href="/">Return to home page</a>




