<h1 class="title">Mark's Gaming Database</h1>
    <h2 class="slogan">Where Gamers Go</h2>

    <% if logged_in?%>
    <div class="greeting">
        <h3>Welcome to Mark's Gaming Database <%= current_user['first_name'] %></h3>
        </div>
    <div class="container">
        <nav class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="menu">
            <a href="/games/all">All games</a>
            <a href="/games/new">Add to database</a>
            <a href="/users/:id">My account</a>
            <a href="/sessions/logout" method="POST" value="delete">Log out</a>
        </div>
        </nav>
    </div>
        <section class="games">
        <% games.each do |game|%>
            <section class="game">
                <header>
                    <h2><%= game['name'] %></h2>

                <section class="controls">
                    <a href="/games/<%= game['id'] %>/edit">Edit</a>
                    <form action="/games/<%= game['id'] %>" method="POST">
                        <input type="hidden" name="_method" value="delete">
                        <button>Delete</button>
                    </form>
                </section>
                </header>
                <img src="<%= game['image_url'] %>" alt="">
                <a href="/games/<%= game['id'] %>/game_details">Click here for more details</a>
            </section>
        <% end %>
    </section>

    <article>
        <h2>Gaming News</h2>
        <ul>
            <li><h2><a href="https://www.youtube.com/watch?v=kKO1s-CUZvY">Armored Core VI announced at The Games Awards</a></h2></li>
            
            <li><h2><a href="https://www.youtube.com/watch?v=Xr1ZnsYu1wU">Final Fantasy 16 releases new trailer</a></h2></li>
            
            <li><h2><a href="https://www.gamesindustry.biz/ftc-files-lawsuit-to-block-microsofts-activision-blizzard-acquisition">FTC files lawsuit to block Microsft acquistion of Activision Blizzard</a></h2></li>

            <li><h2><a href="https://kotaku.com/god-of-war-ragnarok-tv-show-amazon-last-of-us-expanse-1849895011">God of War TV show coming to Amazon Prime</a></h2></li>

            <li><h2><a href="https://www.youtube.com/watch?v=6_WDVEw9YUo">The Witcher 3 next gen update releases December 14th</a></h2></li>
        
        </ul>
    </article>

    <div class=rr>
        <a class="ad" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="https://i.imgur.com/9m1CzTt.png" alt=""></a>
        </div>
    <footer class="copy">&copy Mark Mekhayl 2022</footer>

    <% else %>

    <a href="/users/new">Sign Up</a>
    <a href="/sessions/new">Log in</a>
    <h1>A sample of our Popular games</h1>
        <section class="games">

            <% rand_games.each do |game|%>
                <section class="game">
                <header>
                    <h2><%= game['name'] %></h2>
                </header>
                <img src="<%= game['image_url'] %>" alt="">
                
                </section>
        <% end %>
        </section>
        <h1>Log in for gaming news!</h1>
        <div class=rr>
        <a class="ad" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="https://i.imgur.com/9m1CzTt.png" alt=""></a>
        </div>
        
        <footer class="copy">&copy Mark Mekhayl 2022</footer>
    <% end %>



    


