<body class="account">
    
    <h1 class="account">Your account</h1>

    <h3 class="items_on_wishlist">Items on your wishlist</h3>

    <section class="wlgames">
            <% wishlist_games.each do |game|%>
                <section class="wlgame">
                <header>
                    <h3><%= game['name'] %></h3>
                </header>
                    <a href="/games/<%= game['id'] %>/game_details">Click here for more details</a>
                <form action="/games/<%= game['id'] %>/delete_from_wishlist" method="POST">
                    <button>Delete from wishlist</button>
                </form>

            </section>
        <% end %>
    </section>

<div class="add"><a href="/games/all">Click here to add more!</a></div>

<section class="user_details">

        <h1>Edit Your Details:</h1>
    <form action="/users/<%= current_user['id'] %>" method="POST">
        <input type="hidden" name="_method" value="put">
            <p>
            <label for="">First Name: </label>
            <input type="text" name="first_name" value="<%=current_user['first_name'] %>">
            </p>

            <p>
            <label for="">Last Name: </label>
            <input type="text" name="last_name" value="<%=current_user['last_name'] %>">
            </p>

            <p>
            <label for="">Email: </label>
            <input type="text" name="email" value="<%=current_user['email'] %>">
            </p>
        
        <button>Update details!</button> 
    </form>
</section>

<footer>
<a href="/">Go back to home page</a>
</footer>
</body>
